<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.yahoo.com</key>
	<dict>
		<key>MPOAuthRequestTokenURL</key>
		<string>https://api.login.yahoo.com/oauth/v2/get_request_token</string>
		<key>MPOAuthUserAuthorizationURL</key>
		<string>https://api.login.yahoo.com/oauth/v2/request_auth</string>
		<key>MPOAuthAccessTokenURL</key>
		<string>https://api.login.yahoo.com/oauth/v2/get_token</string>
	</dict>
	<key>.google.com</key>
	<dict>
		<key>MPOAuthRequestTokenURL</key>
		<string>OAuthGetRequestToken</string>
		<key>MPOAuthUserAuthorizationURL</key>
		<string>OAuthAuthorizeToken</string>
		<key>MPOAuthAccessTokenURL</key>
		<string>OAuthGetAccessToken</string>
	</dict>
	<key>.freebaseapps.com</key>
	<dict>
		<key>MPOAuthRequestTokenURL</key>
		<string>request_token</string>
		<key>MPOAuthUserAuthorizationURL</key>
		<string>authorize_token</string>
		<key>MPOAuthAccessTokenURL</key>
		<string>access_token</string>
	</dict>
	<key>.fireeagle.yahooapis.com</key>
	<dict>
		<key>MPOAuthRequestTokenURL</key>
		<string>https://fireeagle.yahooapis.com/oauth/request_token</string>
		<key>MPOAuthUserAuthorizationURL</key>
		<string>https://fireeagle.yahoo.net/auth/</string>
		<key>UserMobileAuthorizationURL</key>
		<string>https://fireeagle.yahoo.net/mobile_auth/</string>
		<key>MPOAuthAccessTokenURL</key>
		<string>https://fireeagle.yahooapis.com/oauth/access_token</string>
	</dict>
	<key>.getsatisfaction.com</key>
	<dict>
		<key>MPOAuthRequestTokenURL</key>
		<string>request_token</string>
		<key>MPOAuthUserAuthorizationURL</key>
		<string>authorize</string>
		<key>MPOAuthAccessTokenURL</key>
		<string>access_token</string>
	</dict>
	<key>.ironmoney.com</key>
	<dict>
		<key>MPOAuthRequestTokenURL</key>
		<string>/oauth/request</string>
		<key>MPOAuthUserAuthorizationURL</key>
		<string>/oauth/authorize</string>
		<key>MPOAuthAccessTokenURL</key>
		<string>/oauth/access</string>
	</dict>
	<key>.netflix.com</key>
	<dict>
		<key>MPOAuthRequestTokenURL</key>
		<string>/oauth/request_token</string>
		<key>MPOAuthUserAuthorizationURL</key>
		<string>/oauth/login</string>
		<key>MPOAuthAccessTokenURL</key>
		<string>/oauth/access_token</string>
	</dict>
	<key>.proofile.com</key>
	<dict>
		<key>MPOAuthRequestTokenURL</key>
		<string>/oauth/request_token</string>
		<key>MPOAuthUserAuthorizationURL</key>
		<string>/oauth/authorize</string>
		<key>MPOAuthAccessTokenURL</key>
		<string>/oauth/access_token</string>
	</dict>
	<key>.tripit.com</key>
	<dict>
		<key>MPOAuthRequestTokenURL</key>
		<string>/oauth/request_token</string>
		<key>MPOAuthUserAuthorizationURL</key>
		<string>/oauth/authorize</string>
		<key>MPOAuthAccessTokenURL</key>
		<string>/oauth/access_token</string>
	</dict>
	<key>.smugmug.com</key>
	<dict>
		<key>MPOAuthRequestTokenURL</key>
		<string>/services/oauth/getRequestToken.mg</string>
		<key>MPOAuthUserAuthorizationURL</key>
		<string>/services/oauth/authorize.mg</string>
		<key>MPOAuthAccessTokenURL</key>
		<string>/services/oauth/getAccessToken.mg</string>
	</dict>
	<key>.twitter.com</key>
	<dict>
		<key>MPOAuthRequestTokenURL</key>
		<string>http://twitter.com/oauth/request_token</string>
		<key>MPOAuthUserAuthorizationURL</key>
		<string>http://twitter.com/oauth/authorize</string>
		<key>MPOAuthAccessTokenURL</key>
		<string>http://twitter.com/oauth/access_token</string>
	</dict>
</dict>
</plist>
