<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.yahoo.com</key>
	<array>
		<string>get_request_token</string>
		<string>request_auth</string>
		<string>get_token</string>
	</array>
	<key>.google.com</key>
	<array>
		<string>OAuthGetRequestToken</string>
		<string>OAuthAuthorizeToken</string>
		<string>OAuthGetAccessToken</string>
	</array>
	<key>.freebaseapps.com</key>
	<array>
		<string>request_token</string>
		<string>authorize_token</string>
		<string>access_token</string>
	</array>
	<key>.fireeagle.yahooapis.com</key>
	<array>
		<string>request_token</string>
		<string></string>
		<string>access_token</string>
	</array>
	<key>.getsatisfaction.com</key>
	<array>
		<string>request_token</string>
		<string>authorize</string>
		<string>access_token</string>
	</array>
	<key>.ironmoney.com</key>
	<array>
		<string>/oauth/request</string>
		<string>/oauth/authorize</string>
		<string>/oauth/access</string>
	</array>
	<key>.netflix.com</key>
	<array>
		<string>/oauth/request_token</string>
		<string>/oauth/login</string>
		<string>/oauth/access_token</string>
	</array>
	<key>.proofile.com</key>
	<array>
		<string>/oauth/request_token</string>
		<string>/oauth/authorize</string>
		<string>/oauth/access_token</string>
	</array>
	<key>.tripit.com</key>
	<array>
		<string>/oauth/request_token</string>
		<string>/oauth/authorize</string>
		<string>/oauth/access_token</string>
	</array>
	<key>.smugmug.com</key>
	<array>
		<string>/services/oauth/getRequestToken.mg</string>
		<string>/services/oauth/authorize.mg</string>
		<string>/services/oauth/getAccessToken.mg</string>
	</array>
</dict>
</plist>
